.semi-footer {
  padding: 150px 0px;
}

.semi-footer button {
  margin-top: 40px;
  padding: 15px 25px;
  background: #0f0933;
  color: #fd5c96;
}

.footer-info {
  padding: 68px 0px;
  gap: 140px;
}

.footer-info p {
  text-align: left;
}

.footer-social {
  padding: 68px 0px;
}

.footer-social img {
  margin-left: 20px;
}

.footer-menu {
  gap: 56px;
}

.footer-menu label {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}

.footer-menu p {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

.footer-copy {
  border-top: 1px solid #1d125c;
  padding: 50px 0px 30px 0px;
}

.footer-copy p {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

@media (max-width: 1024px) {
  .semi-footer {
    padding: 120px 0px;
  }

  .footer img {
    height: 20px;
  }

  .footer-info {
    padding: 68px 00px;
    gap: 100px;
  }

  .footer-social {
    padding: 68px 00px;
  }

  .footer-menu label {
    font-size: 16px;
    line-height: 21px;
  }

  .footer-menu p {
    font-size: 12px;
    line-height: 17px;
  }

  .footer-copy p {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .semi-footer {
    padding: 100px 0px;
  }

  .footer img {
    height: 16px;
  }

  .footer-info {
    padding: 48px 0px;
    gap: 70px;
  }

  .footer-social {
    padding: 48px 0px;
  }

  .footer-menu {
    gap: 20px;
  }

  .footer-menu label {
    font-size: 14px;
    line-height: 19px;
  }

  .footer-menu p {
    font-size: 10px;
    line-height: 17px;
  }

  .footer-copy p {
    font-size: 10px;
    line-height: 17px;
  }
}

@media (max-width: 425px) {
  .semi-footer {
    padding: 100px 0px;
    text-align: center;
  }

  .footer img {
    height: 20px;
  }

  .footer-info {
    padding: 48px 0px 0px 0px;
    gap: 30px;
  }

  .footer-social {
    padding: 10px 0px;
  }

  .footer-social img {
    margin: 10px;
  }

  .footer-menu {
    gap: 10px;
  }

  .footer-menu label {
    font-size: 14px;
    line-height: 19px;
  }

  .footer-menu p {
    font-size: 10px;
    line-height: 17px;
    margin-left: 10px;
  }

  .footer-copy p {
    font-size: 10px;
    line-height: 17px;
  }
}
