.home-hero-content {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 20vh;
}

@media (max-width: 425px) {
  .home-hero-content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px;
  }

  .home-hero-content img {
    display: none;
  }
}
